root = true

# In a perfect world, I would use tabs, but that ship has sailed. "Choose your battles."
[**]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[{*.py}]
indent_size = 4
